.App {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 60px;
  padding: 10px;

  border-radius: 20px;

  background-color: white;
}